
html{
    font-size: 62.5%;
}


body{
    background-color: lightgreen;
}

.container{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.form{
    background-color: aliceblue;
    height: 100%;
    width: 35%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* .info-form{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
} */



.btnSubmit{
    background-color: lightgreen;
    cursor: pointer;
    height: 3rem;
}

.submit{
    margin: 5rem;
    display: flex;
    justify-content: center;
}

.label{
    font-size: 1.7rem;
}


.form input:not(.radioBtnMale, .radioBtnFemale){
    margin-bottom: 1rem;
    height: 2.5rem;
    width: 35rem;
}

.gender{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 35%;
    font-size: 1.5rem;
}